<div class="tab-group">
    <div class="tab-header">
        @if(tabNames.length > 0){
            <ul>
                @for(tabName of tabNames;let i = $index; track i;  ){
                    <li 
                    [class.active]="i===activeTabIndex"
                     class="tab-item-header"
                     (click)="onSelectTab(i)">
                        <span>{{tabName}}</span> <a
                        (click)="onCloseTab(i)" href="javascript:void(0)" >X</a>
                    </li>
                }
            </ul>
        }
    </div>
    <div class="tab-content">
        @for(tabContent of tabContents; track $index){
            <app-tab-item [activeTabIndex]="activeTabIndex" [index]="$index">
                <ng-container 
                [ngTemplateOutlet]="contentTemplate"
                [ngTemplateOutletContext]="{$implicit: tabContent}"
                ></ng-container>
            </app-tab-item>
        }
    </div>
</div>